.input-textfield{
  width: 100%;
  font-family: 'Lato' !important;
  border-radius: 10px !important;
}

.input-textfield .MuiInputLabel-outlined, .input-select{
color: #666666 !important;
font-family: 'Lato' !important;
}