.card{
  background-color: #fff;
  filter: drop-shadow(0 4px 2px #00000035);
  border-radius: 5px;
  border: none;
  width: 100%;
  display: block;
  margin: auto;
  padding: 3rem;
  padding-top: 1.75rem;
}

.card-md{
  width: 540px;
}

.card-xxl{
  width: 1140px;
}